# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# Build results
[Dd]ebug/
[Rr]elease/

# User-specific files
.vs
*.suo
*.user
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.sln.ide
*.opendb
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper
_ReSharper*

# Click-Once directory
publish

# Subversion
.svn
